/* DaTouWang URL: www.datouwang.com */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
}
body {
    background-color: #4A1AEB;
}
.bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 22rem;
}
.zhuanp{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
#turntable{
    margin: 0 auto;
}
.prizes {
    position: relative;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 13px;
    margin-top: 4.5rem;
}
.my-prizes {
    width: 180px;
    height: 40px;
    position: absolute;
    top: -0.65rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.prizes div {
    width: 33%;
    text-align: center;
    padding-top: 2rem;
}
.prizes .title {
    font-family: PingFangHK-Regular;
    font-size: 0.2rem;
    color: #333333;
    letter-spacing: 0;
}
.prizes .schedule .icon {
    width: 0.6rem;
    height: 0.6rem;
}
.prizes .schedule {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prizes .schedule .total {
    display: inline-block;
    width: 2.7rem;
    height: 0.2rem;
    background-image: linear-gradient(#FF5855 7%, #FFA281 95%);
    border-radius: 100px;
}
.prizes .schedule .num {
    font-family: PingFangHK-Regular;
    font-size: 0.1rem;
    color: #FF4036;
    letter-spacing: 0;
    line-height: 0.22rem;
    padding-left: 0.1rem;
}
.prizes .exchange {
    width: 2rem;
    margin: 0.5rem auto;
    font-size: 0.2rem;
    color: #FF4036;
    border: 1px solid #FF4036;
    border-radius: 100px;
}

.prizes .prize-img {
    display: inline-block;
}

 #prizes-user-list {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    list-style: none;
    height: 1rem;
    overflow: hidden;
    opacity: 0.7;
    font-family: PingFangSC-Medium;
    font-size: 0.1rem;
    color: #E7DDFF;
    background: #6B38E0;
    border-radius: 100px;
}
 #prizes-user-list li {
    text-align: center;
    height: 100%;
 }